<mat-toolbar class="header" color="primary"><span class="header_title">Задачи</span>
  <mat-icon class="open_dialog_form" (click)="openDialog()" aria-hidden="false" aria-label="Example add icon">add
  </mat-icon>
</mat-toolbar>


<div class="container">
  <div class="projects">

    <app-category *ngFor="let project of projects; trackBy: identify" [project]="project">

      <app-task *ngFor="let todo of project.todos ; trackBy: identify" [todo]="todo">
        
      </app-task>

    </app-category>

  </div>
