<mat-toolbar class="header" color="primary"><span class="header_title">Задачи</span>
  <mat-icon class="open_dialog_form" (click)="openDialog()" aria-hidden="false" aria-label="Example add icon">add
  </mat-icon>
</mat-toolbar>


<div class="container">
  <div class="projects">

    <mat-card class=" project_card" *ngFor="let project of projects">

      <mat-card-header>
        <mat-card-title>{{project.title}}</mat-card-title>
      </mat-card-header>
      <app-task *ngFor="let todo of project.todos"
      [todo] = "todo"
      ></app-task>
    </mat-card>

  </div>
